{% load static%}
{% extends "base.html" %}
{% block title %}
    <!-- Блок title -->
    <!-- Название мороженого берется из ice_cream.title и приводится к нижнему регистру
    при помощи фильтра шаблонов Django -->
      Анфиса для друзей. Мороженое классический пломбир
    <!-- Конец блока title -->  
{% endblock %}
{% block content %}
        <h1 class="pb-2 mb-0">Классический пломбир</h1>  
        <div class="row mt-3">
          <div class="col-12 col-md-6">
            <h2>Описание</h2>
            <p>Настоящее мороженое, для истинных ценителей вкуса. Если на столе появляется пломбир — это не надолго.</p>      
          </div> 
          <div class="col-12 col-md-6 mb-3">
            <!-- Картинку берём из статики -->
            <img 
              class="img-fluid" 
              height="400" width="300"
              src="{% static 'img/image-holder.png' %}"
              >      
          </div>
        </div>
{% endblock %}     
        <!-- Конец блока content --> 
